nav.nav
  .nav_wrapper
    ul.nav_list
      li.nav_list_item
        a.nav_link(href="/")
          svg#nav_link_icon.nav_link_icon(version='1.1' xmlns='&ns_svg;' xmlns:xlink='&ns_xlink;' viewbox='0 0 531.74 460.5' overflow='visible' xml:space='preserve')
            polygon(stroke='#000000' points='0.866,460 265.87,1 530.874,460 ')

      li.nav_list_item
        a.nav_link(href="#work" data-to-scroll='true') Work

      li.nav_list_item
        a.nav_link(href="#footer" data-to-scroll='true') Contact
