doctype html
html(lang="en")
  head
    include ./partials/head

  body
    include ./partials/nav

    include ./screens/home
    include ./screens/work

    include ./partials/noscript
    //- include ./partials/analytics